.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.word-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.progressBar {
  width: 70%;
  height: 50px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

.progressBar div {
  height: 100%;
  line-height: 20px;
  color: white;
  text-align: right;
  border-radius: 5px;
  padding-right: 10px;
}

.progressBarFill {
    background: linear-gradient(to right, blue, white, white, red);
}

.liste {
  list-style-type: none;
  padding: 0;
}

.titre {
  text-align: center;
}
