.progress-container {
  width: 100%;
  height: 20px;
  background: #f00; 
  background: linear-gradient(to right, red, orange, yellow, green);
  margin: 20px 0;
  position: relative;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); 
}

.progress-text {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}