.explication {
    padding: 60px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
  
  .explication-title {
    font-size: 23px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .explication-text {
    color: #787878;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
  }
  
  .explication-link {
    text-align: left; 
    float: left;   
    color: #765BF3;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
  }
  
  .explication-link:hover {
    text-decoration: underline;
  }
  