.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    height: 88px;
  }
  
  
  .logo img {
    width: 138px;  
    height: auto;
    margin-left: 70px;
  }

  .logo img:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

  .navbar {
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    font-weight: 700; 
    font-size: 16px;
  }

  .navbar a {
    margin: 0 40px; 
    color: #000000;
    position: relative; /* Required for ::after to work */
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    background-color: #000000;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
}


  .navbar a {
    margin: 0 40px; 
    color: #000000;
  }
  
  .cta {
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 25px;
    text-decoration: none;
    background: #E7E3FB;
    border: 1px solid #765BF3;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #765BF3;
    font-family: 'Inter', sans-serif; 
    font-weight: 700; 
    font-size: 16px; 
    font-size: 13px;
    margin-right: 50px;

  }

  
  .header a {
    text-decoration: none;
  }



  